/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#pane{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1500 1500;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
}
.label {
    -fx-font-size: 28px;
}

.outline.label .text {
    -fx-fill: lightseagreen;
    -fx-stroke: firebrick;
    -fx-stroke-width: 2px;
}